fastapi
uvicorn
pydantic

langchain-ollama
langchain-groq
groq
python-dotenv
torch
transformers

requests
beautifulsoup4
duckduckgo-search

pdfplumber
pytesseract
Pillow
pandas
python-docx
openpyxl
pyzxing

pytest
